In [ ]:
# 문제정의
## 고객별 신용등급 분류
## 1- BAD , 2 - STANDARD 3 - GOOD
## 타깃(라벨,y값) : Credit_Score

In [ ]:
#----------------
# 라이브러리 가져오기
# ---------------

In [42]:
import pandas as pd

train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")

In [2]:
#---------------------------
# EDA
#---------------------------

In [43]:
train.head()
train.tail()
train.sample(5)

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_Mix,...,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
9494,22.0,19.0,8.0,35.775545,242.0,NM,46.267750,326.158074,1,Standard,...,24.0,7472.54,4.0,6.0,26.0,2.0,917.711667,13.50,2524.17,9.345344
4241,13.0,20.0,1.0,35.876354,246.0,Yes,193.891675,291.414696,2,Standard,...,42.0,33461.24,5.0,6.0,17.0,2.0,2695.436667,8.84,1048.02,54.237296
3691,7.0,14.0,6.0,39.157075,351.0,No,223.019029,529.574952,2,Standard,...,37.0,60965.31,7.0,4.0,13.0,1.0,5012.442500,3.85,287.40,28.650269
5644,10.0,18.0,0.0,30.645917,368.0,No,349.451493,317.588341,2,Good,...,40.0,44812.78,3.0,6.0,12.0,0.0,3770.398333,3.57,628.32,0.000000
1417,13.0,20.0,5.0,38.259033,236.0,No,182.701736,571.280808,1,Good,...,50.0,61269.16,6.0,4.0,9.0,2.0,5295.763333,9.45,389.91,55.593789

In [44]:
train.shape,test.shape

((10000, 21), (10000, 20))

In [45]:
train[['Credit_Score']].value_counts()

Credit_Score
2               5237
1               2978
3               1785
Name: count, dtype: int64

In [46]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  object
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Score              10000 non-null  int64
 9   Credit_Mix                10000 non-null  object
 10  Payment_Behaviour         10000 non-null  object
 11  Age                       10000 non-null  float64
 12  Annual_Income             10000 non-null  float64
 13  Num_Bank_Accounts         10000 non-null  float64
 14  Num_Credit_Card           10000 non-null  float64
 15  Interest_Rate             10000 non-null  float64
 16  Num_of_Loan               10000 non-null  float64
 17  Monthly_Inhand_Salary     10000 non-null  float64
 18  Changed_Credit_Limit      10000 non-null  float64
 19  Outstanding_Debt          10000 non-null  float64
 20  Total_EMI_per_month       10000 non-null  float64
dtypes: float64(17), int64(1), object(3)
memory usage: 1.6+ MB

In [47]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  object
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Mix                10000 non-null  object
 9   Payment_Behaviour         10000 non-null  object
 10  Age                       10000 non-null  float64
 11  Annual_Income             10000 non-null  float64
 12  Num_Bank_Accounts         10000 non-null  float64
 13  Num_Credit_Card           10000 non-null  float64
 14  Interest_Rate             10000 non-null  float64
 15  Num_of_Loan               10000 non-null  float64
 16  Monthly_Inhand_Salary     10000 non-null  float64
 17  Changed_Credit_Limit      10000 non-null  float64
 18  Outstanding_Debt          10000 non-null  float64
 19  Total_EMI_per_month       10000 non-null  float64
dtypes: float64(17), object(3)
memory usage: 1.5+ MB

In [48]:
train.describe()

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Amount_invested_monthly,Monthly_Balance,Credit_Score,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
count,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,21.263100,13.381300,5.79400,32.306216,220.501400,195.497580,400.130732,1.880700,33.33680,50318.451889,5.382900,5.538000,14.468200,3.525700,4182.906254,10.435633,1428.996096,105.114322
std,14.778976,6.217876,3.86772,5.093599,99.204263,196.150962,211.034108,0.679789,10.73122,38171.440801,2.566271,2.096186,8.687977,2.441585,3175.891720,6.501954,1158.852422,125.502925
min,0.000000,0.000000,0.00000,20.719745,2.000000,0.000000,0.007760,1.000000,14.00000,7006.035000,0.000000,0.000000,1.000000,0.000000,303.645417,0.500000,0.230000,0.000000
25%,10.000000,9.000000,3.00000,28.075839,144.000000,74.056997,268.741936,1.000000,24.00000,19259.307500,4.000000,4.000000,7.000000,2.000000,1626.342083,5.507500,562.340000,28.588769
50%,18.000000,14.000000,6.00000,32.310153,219.000000,130.089440,334.854343,2.000000,33.00000,36875.140000,5.000000,5.000000,13.000000,3.000000,3073.272917,9.410000,1168.235000,65.971478
75%,28.000000,18.000000,8.00000,36.491502,301.000000,234.960725,470.351899,2.000000,42.00000,71507.587500,7.000000,7.000000,20.000000,5.000000,5936.870000,14.630000,1960.420000,144.429302
max,67.000000,28.000000,17.00000,47.103409,404.000000,1674.337665,1567.208309,3.000000,56.00000,179987.280000,10.000000,11.000000,34.000000,9.000000,15167.180000,29.980000,4998.070000,1701.955013

In [49]:
test.describe()

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Amount_invested_monthly,Monthly_Balance,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,21.097900,13.255200,5.752500,32.186729,221.825800,193.117531,400.580605,33.482000,50108.745203,5.340400,5.528100,14.472300,3.544600,4166.494700,10.416235,1416.394165,103.957612
std,14.797811,6.251238,3.865998,5.159005,99.213024,195.419810,212.389930,10.739097,38406.986599,2.586039,2.090609,8.773878,2.426891,3194.843717,6.521728,1148.313667,121.991063
min,0.000000,0.000000,0.000000,20.172942,2.000000,0.000000,1.222495,14.000000,7006.035000,0.000000,0.000000,1.000000,0.000000,303.645417,0.500000,0.340000,0.000000
25%,10.000000,9.000000,3.000000,27.894659,145.000000,72.723155,270.578579,25.000000,19214.681250,3.000000,4.000000,7.000000,2.000000,1616.490417,5.407500,560.410000,29.240525
50%,18.000000,14.000000,5.000000,32.166358,220.000000,128.333887,336.320248,33.000000,36475.525000,5.000000,5.000000,13.000000,3.000000,3052.810833,9.340000,1159.810000,65.377135
75%,28.000000,18.000000,8.000000,36.504712,304.000000,234.830616,465.525296,42.000000,71025.400000,7.000000,7.000000,20.000000,5.000000,5913.288333,14.832500,1941.615000,142.311157
max,67.000000,28.000000,29.000000,50.000000,404.000000,1804.355694,1533.102266,56.000000,179987.280000,10.000000,11.000000,34.000000,9.000000,15204.633333,29.970000,4997.050000,1701.955013

In [50]:
train.describe(include='O')

       Payment_of_Min_Amount Credit_Mix               Payment_Behaviour
count                  10000      10000                           10000
unique                     3          3                               6
top                      Yes   Standard  Low_spent_Small_value_payments
freq                    5269       4591                            3416

In [33]:
test.describe(include='O')

       Payment_of_Min_Amount Credit_Mix               Payment_Behaviour
count                  10000      10000                           10000
unique                     3          3                               6
top                      Yes   Standard  Low_spent_Small_value_payments
freq                    5167       4590                            3498

In [31]:
train.isnull().sum().sum()

0

In [30]:
train.isnull().sum().sum()

0

In [34]:
#---------------------------
#데이터 전처리
#---------------------------

In [51]:
# 라벨(정답,y값) 분리
y_train = train.pop("Credit_Score")

In [52]:
y_train.value_counts()

Credit_Score
2    5237
1    2978
3    1785
Name: count, dtype: int64

In [35]:
# #기존 레이블인코딩

# from sklearn.preprocessing import LabelEncoder

# cols = train.columns[train.dtypes == object]

# for col in cols:
#     le = LabelEncoder()
#     le.fit(pd.concat([train[col],test[col]], axis=0)) # 행합치기
#     train[col] = le.fit_transform(train[col])
#     test[col] = le.transform(test[col])

In [53]:
# 인코딩대체방법(범주형 type -> category로 변경) 

train['Payment_of_Min_Amount'] = train['Payment_of_Min_Amount'].astype('category')
train['Credit_Mix'] = train['Credit_Mix'].astype('category')
train['Payment_Behaviour'] = train['Payment_Behaviour'].astype('category')

test['Payment_of_Min_Amount'] = test['Payment_of_Min_Amount'].astype('category')
test['Credit_Mix'] = test['Credit_Mix'].astype('category')
test['Payment_Behaviour'] = test['Payment_Behaviour'].astype('category')

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  category
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Mix                10000 non-null  category
 9   Payment_Behaviour         10000 non-null  category
 10  Age                       10000 non-null  float64
 11  Annual_Income             10000 non-null  float64
 12  Num_Bank_Accounts         10000 non-null  float64
 13  Num_Credit_Card           10000 non-null  float64
 14  Interest_Rate             10000 non-null  float64
 15  Num_of_Loan               10000 non-null  float64
 16  Monthly_Inhand_Salary     10000 non-null  float64
 17  Changed_Credit_Limit      10000 non-null  float64
 18  Outstanding_Debt          10000 non-null  float64
 19  Total_EMI_per_month       10000 non-null  float64
dtypes: category(3), float64(17)
memory usage: 1.3 MB

In [5]:
# -------------------------------
# 검증 데이터 분할
# -------------------------------

In [55]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    train,
    y_train,
    test_size=0.2,
    random_state=0)

In [54]:
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((8000, 20), (2000, 20), (10000,), (2000,))

In [22]:
# -------------------------------
# 머신러닝 학습 및 평가
# -------------------------------

In [41]:
# 랜덤포레스트 학습
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0) # 난수값 고정 in->out 고정값
rf.fit(X_train, y_train) #모델학습
pred_rf=rf.predict_proba(X_val)
pred_rf

ValueError: could not convert string to float: 'Yes'

In [24]:
#LIGHTGBM 학습
import lightgbm as lgb
lgbmc = lgb.LGBMClassifier(random_state=0, verbose=-1)
lgbmc.fit(X_train, y_train)
pred=lgbmc.predict(X_val) # 예측 y값(y값은 정답임)
pred_proba = lgbmc.predict_proba(X_val) # 예측 확률값

In [ ]:
# 평가

In [30]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

roc_auc_ovr = roc_auc_score(y_val , pred_proba, multi_class='ovr') # 예측 확률값[오답예측확률, 정답예측확률]
roc_auc_ovo = roc_auc_score(y_val , pred_proba, multi_class='ovo') # 예측 확률값[오답예측확률, 정답예측확률]
accuracy = accuracy_score(y_val,pred) # pred 예측y값
f1 = f1_score(y_val,pred,average='macro') # pred예측 y값 (클래스별(1,2,3정답값) 성능을 동등하게 반영)

print('roc_auc_ovr : ', roc_auc_ovr)
print('roc_auc_ovo : ', roc_auc_ovo)
print('accuracy : ', accuracy)
print('f1 : ', f1)

# OvR(One-vs-Rest) : 각 클래스 vs 나머지 -> 평균
# OVO(One-vs-One) : 클래스 쌍별 AUC 평균

roc_auc_ovr :  0.8507625027884959
roc_auc_ovo :  0.8575703288828868
accuracy :  0.6985
f1 :  0.6777379561595467

In [10]:
#--------------------------
# 예측 파일 제출(.csv)
#--------------------------
pred_submit=lgbmc.predict(test)
pred_submit

array([3, 1, 1, ..., 1, 1, 2])

In [11]:
submit_csv = pd.DataFrame({'pred' : pred_submit})
submit_csv.to_csv("result.csv",index=False)